html {
    background-color: #161616;
    font-family: Arial, Helvetica, sans-serif
}
body {
background-color: #161616;
font-size: 1.5vw;
color: #fafafa;
}

header {
    text-align: center;
    background-color: #4C4C4C;
    color: #c8dfe6;
}
nav {
    color: #c8dfe6;
}
h1 {
    background-color: #4c4c4c;
}
a:link {
    text-decoration: none;
    color: #c8dfe6;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}