html {
    background-color: #2a2841;
    font-family: Arial, Helvetica, sans-serif
}
body {
background-color: #292730;
font-size: 1.5vw;
}

header {
    text-align: center;
    background-color: #2D75DD;
}
nav {
    color: #2D75DD;
}
h1 {
    background-color: #b31c1c;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}