html {
    background-color: #161616;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    
}
body {
background-color: #161616;
font-size: 16px;
color: #fafafa;
text-align: center;
padding-top: 75px;
}

  /* Font size adjustment for smaller screens */
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Font size adjustment for larger screens */
  @media (min-width: 1024px) {
    body {
      font-size: 1.5vw;
    }
  }

header {
    text-align: center;
    background-color: #4C4C4C;
    color: #c8dfe6;
    margin-top: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:10%;
}
nav {
    color: #c8dfe6;
    padding-top: 1%;
}
h1 {
    background-color: #4c4c4c;
}
a:link {
    text-decoration: none;
    color: #c8dfe6;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
footer {
 /*   background-color: */
    border-top: 6px; 
    text-align: center;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;    
    height: 100px;
    width: 100%;
  }
img {
    width: auto;
    height: auto;

}